# ============================================
# SECRETS GITHUB ACTIONS A CONFIGURER
# ============================================

# --- AWS ---
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# --- Registre Docker Privé ---
REGISTRY_URL=<IP_DU_REGISTRY>:443
REGISTRY_USER=
REGISTRY_PASSWORD=

# --- Base de Données ---
DB_NAME=appdb
DB_USER=admin
DB_PASSWORD=
