# AWS Credentials
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key

# Registre Docker Prive (EC2 Registry HTTPS)
REGISTRY_IP=13.39.82.199
REGISTRY_USER=admin
REGISTRY_PASSWORD=admin123

# Base de donnees (utilises dans docker-compose.prod.yml)
DB_NAME=appdb
DB_USER=admin
DB_PASSWORD=admin123
